@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.backgroundimage {
  background-size: cover;
  background-position: center;
}

.bgblue{
  background-color: #15244b;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(0.97); /* IE 9 */
  -webkit-transform: scale(0.97); /* Safari 3-8 */
  transform: scale(0.97);
  overflow: hidden;
}

.yellowlink {
  text-underline-offset: 8px;
  font-size: 13px;
}

.yellowlink:hover {
  color: #f9b701;
}

.greenlink {
  text-underline-offset: 8px;
  text-decoration: none;
}

.greenlink:hover {
  color: #0ec75c;
}

.bluelink {
  text-decoration: none;
  color: black;
}

.bluelink:hover {
  color: #15244b;
}

.gradbluegreen {
  background: rgb(0, 188, 163);
  background: linear-gradient(180deg, rgba(0, 188, 163, 1) 0%, #0ec75c 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bggradbluegreen {
  background: rgb(0, 188, 163);
  background: linear-gradient(180deg, rgba(0, 188, 163, 1) 0%, #0ec75c 100%);
}

.greenunderline {
  width: fit-content;
  border-bottom: solid 3px rgb(14 199 92);
}

@media (max-width: 767px) {
  .logodnone {
    display: none;
  }
  .padtopsmd {
    padding-top: 30vh;
  }
}

/* project logo */

.projectlogo{
max-height: 5vh;
}

/* project logo */

/* floating buton */

.float{
	position:fixed;
	/* width:60px;
	height:60px; */
	bottom:55px;
	right:120px;	background-color:rgb(255, 255, 255);
	/* color:#FFF; */
	/* border-radius:50px; */
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

/* floating buton */


/* owl carousel */

.owl-carousel .nav-button {
  /* height: 50px; */
  width: 30px;
  cursor: pointer;
  position: absolute;
  background: transparent !important;

  /* top: 110px !important; */
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.owl-carousel .owl-prev {
  left: -40px;
  top: 0%;
}
.owl-carousel .owl-next {
  right: -40px;
  top: 0%;
}
/* owl carousel */

/* floatingbutton */
.bpw-floating-button {
  box-shadow: none !important;
  border: 2px solid white !important;
}
/* floatingbutton */

/* phylosophy page */

#legacymore {display: none;}

#qualitymore {display: none;}

#craftsmore {display: none;}

#philanthropymore {display: none;}


/* phylosophy page */